@media screen and (max-width: 600px) {
    #toolbar-username {
        display: none;
    }
    
    .search-form {
        display: none !important;
    }
    
    .search-form-xsmall {
        display: inline-flex !important;
    }
    
    .search-form-xsmall .btn-sort > button {
    	padding: 3px;
    }
    
    .search-form-xsmall .btn-sort .service-icon {
	    display: inline-block;
    }
    
    .search-form-xsmall .btn-sort button > span:first-child {
	    display: none;
    }
}